 /* *{
  border: 1px solid red;
}  */

header{
    background-image: url(image/backgroundheader.png);
  }
  #abc{
    list-style-type: none;
    margin: 0;  /*Thuộc tính margin canh lề cho thành phần.*/
    padding: 0; /*Thuộc tính padding thêm vào khoảng không cho thành phần.*/
    overflow: hidden; /*xác định điều gì sẽ xảy ra nếu một thành phần box tràn nội dung.*/
    background-color:rgba(245, 245, 245, 0.877);
    font-size: 12px;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    max-width: 100%;
    margin: 0px;
    padding: 0px; 
    /* max-width: 1294px; */
    /* background-color: whitesmoke; */
    background-image: url(image/backgroundweb.jpg);
  }
  li.dropdown {
    display: inline-block;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  li.dropdown p{
    margin: 0 0 0 0;
  }
  li.dropdown a{
    color: black;
  }                           
  a.item:link {
  text-decoration: none;
  }  
  a.item:hover{
    color: black ;
    text-decoration: underline;
  }
  /*css dành cho nội dung thả xuống*/
  .dropdown-content  {
    display: none;      /*Thuộc tính display xác định loại hiển thị của thành phần.*/
    position: absolute; /* xác định loại của phương pháp định vị trí cho thành phần.*/
    background-color: #f9f9f9;
    min-width: 100px; /*Thuộc tính min-width thiết lập chiều rộng tối thiểu (nhỏ nhất) cho thành phần.*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* màu của dropdown-content*/
    z-index: 1; 
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    line-height: 18px;
    border-radius: 30px;
  }
  .dropdown:hover .dropdown-content { 
    display: inline-block;
  } /*:hover" chọn các liên kết được hover (di chuyển chuột lên thành phần).*/
  
  .container{
    display: flex;
    position:sticky;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
    height: 50px;
  }
  .container .row.logo-bar{
    display: block;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container .row .logo img{
    float: left;
    height: auto;
    width: 260px;
    margin-left : 20px;
  }
  .container .row .type-search{
    margin-left: 30px;
    margin-left: 300px;
  }
  .container .row .type-search input{
      height: 35px;
      width: 500px;
      background-color: whitesmoke;
      overflow: visible;
      font-size: 15px;
      padding-left: 30px;
      border: 1px solid #ebebeb; 
      outline:none; 
  }
  .container .row .type-search button{
    outline: none;
  }
  .container.row.type-search input:focus{
    background-color: whitesmoke;
  }
  /* button của tìm kiếm*/
  .searchbtn{
    background-color: #009150;
    width: 50px;
    height: 35px;
    color: white;
    display: inline;
    border:1px solid #009150;
    cursor: pointer;
  }
  .type-search:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
  }
  .type-search{
    display: flex;
    zoom: 1;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    margin-top: 5px;
  }
  .logo1{ 
    width: 40px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #0b703d;
    color: #0b703d;
    font-size: 26px;
    padding: 10px;
    position: relative;
    margin-top: 10px;
  } 
  #login{
    margin-top: 10px;
  }
  #register{
    margin-top: 10px;
    margin-right: 30px;
  }
  #barrier{
    margin-top: 10px;
  }
  #register a{
    text-decoration: none;
    color: black;
  }
  #login a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
  }
  #container2{
    list-style-type: none;
    margin: 0;  /*Thuộc tính margin canh lề cho thành phần.*/
    padding: 0; /*Thuộc tính padding thêm vào khoảng không cho thành phần.*/
    /* overflow: hidden; xác định điều gì sẽ xảy ra nếu một thành phần box tràn nội dung. */
    background-color:#009150;
    font-size: 15px;
    margin-top: 10px;
    height: 50px;
  }
  #container2{
  display: flex;
  justify-content: space-between;
  }
  #container2 a{
    color: black;
  }
  /* #item1{
  margin-left: 10px;
  } */
  #item5{
    flex-grow: 1;
  }
  #item2{
  margin-top: 15px;
  color:white;
  display: inline-block;
  }
  #dropdown-content2{
    display: none;      
    position: absolute; 
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 10; 
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    line-height: 18px;
    border-radius: 30px;
    color: black;
    text-align: center;
  }
  #item2:hover #dropdown-content2{
    display: block ;
  }
  #item3{
  margin-top: 15px;
  color: white ;
  }
  a.item4:link {
    text-decoration: none;
  }  
  a.item4:hover{
  color: white ;
  text-decoration: underline;
  }
  .item4{
    color: white !important;
    margin-right: 5px;
  }
  #list{ /* danh mục sách*/
    margin-top: -55px;
    font-size: 20px; 
    margin-left: 50px;
    color:white !important;
    height: 5px;
  }
  /* css dành cho menu đa cấp */
  a{ 
  text-decoration: none; 
  }
  ul li{ 
  list-style: none;
  list-style-type: none;
  }
  #main_menu>li{ 
  float: left; 
  }
  #main_menu li{ 
  position: relative;
  /* height: 30px; */
  }
  #main_menu>li a{
  display: block; 
  padding: 15px;
  }
  #main_menu ul{ /* ul của sub_menu*/
    padding-left: 0px;
  }
  .icon1{ /* dấu mũi tên*/
    float: right;
  }
  #main_menu li .sub_menu{
  position: absolute; 
  /* display: none; */
  width: 0px;
  background: whitesmoke;
  top: 0px;
  left: 88%;
  z-index: 1;
  margin-left:30px;
  visibility: hidden;
  transition-duration:0.3s;
  }
  #main_menu li .sub_menu>li>a{
    visibility: hidden;
    font-size: 0px;
    transition-duration:0.3s;
  }
  #main_menu li:hover>.sub_menu>li>a{
    visibility: visible;
    font-size: 15px;
  }
  #main_menu li:hover>.sub_menu { 
  visibility: visible;
  width: 270px;
  }
  #main_menu>li>.sub_menu{
  top: 35px;
  position: absolute;
  left: 0px;
  }
  #main_menu li .sub_menu> li:hover{
  background: #009150;
  }
  #main_menu li .sub_menu li:hover>a{
    color: white;
  }
  /* css dành cho main */
  /* css dành cho slide show*/
  .slideshow-container {
  position: relative;
  margin: auto;
  z-index: -1;
  height: 160px;
  width: 1100px;
  margin-top: 10px;
  }
  .alldot{
    background-color: #009150;
    height: 20px;
    width: 1100px;
    margin: auto;
    margin-top: 100px;
    /* or 97 */
  }
  .dot {/* định dạng các chấm chuyển đổi các slide */
  cursor:pointer;
  height: 13px;
  width: 13px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  .active, .dot:hover {/* khi được hover, active đổi màu nền */
  background-color: #717171;
  }
  .fade {/* Thêm hiệu ứng khi chuyển đổi các slide */
  -webkit-animation-name: fade; /* animation là xác định chuyển động của tag hoặc hình ảnh*/
  -webkit-animation-duration: 3s;/* webkit hỗ trợ cho trình duyệt*/
  animation-name: fade;
  animation-duration: 3s;/* duration xác định thời gian show*/
  }
  @-webkit-keyframes fade {/* keyframes dùng điều khiển hoạt động và dùng với animation */
  from {opacity: .4} /* opacity xác định độ trong suốt*/
  to {opacity: 1}
  }
  @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  /* css dành cho nút chuyển đổi slideshow  */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s all;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .prev{
    margin-left: 98px;
  }
  .next{
    margin-right: 98px;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
  /*css của táp le*/
  /* #taple{
  display: flex;
  }
  #taple img{
    width: 90%;
   padding: 20px 20px 0px 20px;
  } */
  
  /* css của phần kệ sách của trang web */
  #title-kesach{
    border: 5px double white;
    width: 370px;
    height: 30px;
    margin-top: 30px;
    margin-left: 36%;
    text-align: center;
    background-color: #009150;
    border-radius: 40px;
    /* background-image: url(image/backgroundtieude.png); */
  }
  #table-book{
    background-image: url(image/kesach.png);
  width: 1000px;
  height: 300px;
  margin-left: 15%;
  }
  #boooks{
    margin-left: 50px;
    display: flex;
  }
  #boooks a img{
   height: 220px;
   margin: 10px; 
  }
   #boooks a img:hover {
    box-shadow: 0px 8px 16px 0px #009150; 
  }
  /* css của chi tiết các sách trên kệ sách */
  .chi-tiet{
    position:absolute;
    /* padding: 5px 20px; */
    top: 480px;
    visibility: hidden;
    margin-left: 50px;
    height: 0px;
    width: 0px;
    background-image: url(image/backgroundheader.png);
    border: solid 2px white;
    transition-duration: 0.3s;
  }
  .chi-tiet p{
    visibility: hidden;
    transition-duration: 0.3s;
    font-size: 0px;
  }
  .hoversach:hover .chi-tiet{
    visibility: visible;
    width: 170px;
    height: 160px;
   }
   .hoversach:hover .chi-tiet p{
     visibility: visible;
     font-size: 18px;
   }
   .hoversach:hover .chi-tiet p.press{
     width: 100px;
   }
  .chi-tiet1{
    position:absolute;
    /* padding: 5px 20px; */
    top: 770px;
    visibility: hidden;
    margin-left: 50px;
    height: 0px;
    width: 0px;
    background-image: url(image/backgroundheader.png);
    border: solid 2px white;
    transition-duration: 0.3s;
  }
  .chi-tiet1 p{
    visibility: hidden;
    transition-duration: 0.3s;
    font-size: 0px;
  }
  .hoversach:hover .chi-tiet1{
    visibility: visible;
    width: 170px;
    height: 160px;
   }
   .hoversach:hover .chi-tiet1 p{
     visibility: visible;
     font-size: 18px;
   }
   .hoversach:hover .chi-tiet1 p.press{
     width: 100px;
   }
  .namee{
    background-color: #009150;
    height: 23px;
    margin: 0px;
    color: white;
    text-align: center;
    font-size: 15px;
  }
  .gia-tien{
    color: #009150;
    font-size: 17px;
    font-weight: 200;
   margin-left: 30px;
  }
  .gia-tien1{
    color: #009150;
    font-size: 20px;
    font-weight: 200;
   margin-left: 30px;
  }
  .press{
    border: solid 1px black;
    background-color: #009150;
    width: 0px;
    margin-left: 34px;
    text-align: center;
    color: white;
  }

  /* css cho background tiêu đề  */
  
  
   /* css dành cho footer nè */
   #footer{
    display: flex;
    margin-left: 70px;
    margin-right: 20px;  
  }
  #divfoot1{
    margin-top: 5px;
    margin-left: 20px;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
  }
  .input-foot{
    margin-top: 20px !important;
    margin: 5px;
  }
  .input-foot input{
    height: 30px;
    outline: none;
    border-radius: 8px;
    border: 1px solid white;
  }
  #divfoot3 input{
    width: 250px;
  }
  #divfoot4 select{
  outline: none;
  height: 30px;
  width: 150px;
  color: grey;
  border-radius: 8px;
  }
  #divfoot5 button{
    height: 33px;
    width: 170px;
    background: #fff;
    color: #0a6f3c;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
  }
  #container-footer{
    width: 100%;
    height: 70px;
    background-color: #009150;
  }
  .underfooter{
    background-color: white;
    display: flex;
  }
  /* .underfooter1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  } */
  .gom3cai{
    flex :1;
  }
  .tronggom3cai{
    display: flex;
  }
  .tronggom3cai:only-child{
    flex: auto;
  }
  a.list:hover{
    text-decoration:underline;
  }
  a.list{
    color: grey;
  }
  #email:hover{
    color:red;
  }
  #email{
    color: blue;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
